{% if item.shouldBeRendered %}
    <li {{ menu.attributes(menu.getItemAttributes(item))|raw }}>
        {% if item.shouldBeRenderedAsLink %}
        <a href="{{ item.uri }}" {{ menu.attributes(item.linkAttributes)|raw }}>{{ item.label|raw }}</a>
        {% else %}
        <span {{ menu.attributes(item.labelAttributes)|raw }}>{{ item.label|raw }}</span>
        {% endif %}
        {% if item.hasChildren and (depth is none or depth > 1) %}
            {% set depth = depth ? depth - 1 : null %}
            {% include 'KnpMenuBundle:Menu:menu.html.twig' with {'item': item, 'menu': menu, 'depth': depth} %}
        {% endif %}
    </li>
{% endif %}
